.header_text{
    height:59px;
    background-color: #117369;
    display: flex;
    align-items: center;
    justify-content: center;
}
.header_text-1{
    color: #fff;
}
.header_text-2{
    font-size: 18px;
}
.header_logo{
    height: 87px;
    display: flex;
    justify-content:space-around;
    align-items: center;
    background-color: #D9DCE2;
}
.logo_text-1{
    color: rgba(242, 23, 23, 0.9);
}
.header_logo_icon{
    display: flex;
}
.avatar:hover{
    background-color: #fff;
}
.avatar:hover .icon_subnav{
    display: block;
}
.icon_link{
    position: relative;
    text-decoration:none;
}
.icon_link:hover{
    background-color: #fff;
}
.music:hover{
    background-color: #fff;
}
.music:hover .icon_subnav{
    display: block;
}
.header_navbar{
    height: 59px;
    display: flex;
    justify-content:space-between;
    align-items: center;
    width: 95%;
}
.header_navbar_list{
    margin-left: 5%;
    margin-right: 5%;

}
.navbar_list{
    list-style: none;
    display: flex;
}
.navbar_list-item{
    position: relative;
}
.navbar_list-item:hover .subnav{
    display: block;
}
.navbar_list-link{
    text-decoration: none;
    color: #222222;
    padding: 0 10px;
}

.navbar_list-link:hover{
    opacity:0.8;
    color: #117369;
}
.subnav{
    display: none;
    position: absolute;
    list-style: none;
    background-color: #D9DCE2;
    box-shadow: 0 0 10px rgba(0,0,0,0.3);
    z-index: 4;
}
.subnav li a{
    padding: 6px 24px;
    text-decoration: none;
    display: inline-block;
    color: #000;
    width: 100%;
}
.subnav li a:hover{
    color: #117369;
    background-color: #fff;
}
.subnav_text{
    min-width:180px;
}
.navbar__list-item:hover .subnav_2{
    display: block;
}
.subnav_2{
    display: none;
    position: absolute;
    background-color: #D9DCE2;
    box-shadow: 0 0 10px rgba(0,0,0,0.3);
    z-index: 4;
}
.subnav_ul{
    list-style: none;
}
.subnav_text{
    min-width:180px;
}
.subnav_text_2{
    padding: 6px 24px;
    text-decoration: none;
    display: inline-block;
    color: #000;
    width: 100%;
}
.subnav_text_2:hover{
    color: #117369;
    background-color: #fff;
}
.navbar_search{
    display: flex;
}
.navbar_search-1{
    border: 1px solid rgba(0,0,0,.1);
    padding-left: 12px; 
    padding-right:36px;
    padding-top: 6px;
    padding-bottom: 6px;
    font-size: 18px;
}
.navbar_search-icon{
    padding: 6px 6px;
    height: 40px;
    width: 38px;
    background-color: #000000;
}
.icon_subnav{
    display: none;
    position: absolute;
    list-style: none;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0,0,0,0.3);
    z-index: 4;
}
.icon_subnav_link{
    padding: 8px 24px;
    text-decoration: none;
    display: inline-block;
    color: #000;
    width: 100%;
}
.icon_subnav li a:hover{
    color: #117369;
    background-color: #fff;
}
.logo_icon{
    padding: 0 5px;
    height:28px;
    width: 28px;
    margin-left: 12px;
}
.btn_search{
    position: relative;
    bottom: -10px;
}
.btn_search:hover{
    opacity: 0.8;
    cursor: progress;
}